In [1]:
import spacy
import pandas as pd

/home/joni/Documents/language-as-data/.310venv/lib/python3.10/site-packages/spacy/cli/info.py:3: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [2]:
with open("../data/slk_wikipedia_2021_300K/slk_wikipedia_2021_300K-sentences.txt", "r", encoding="utf-8") as f:
    # read lines and split at tab, keep only second column
    slk_df = pd.DataFrame(
        [line.strip().split("\t")[1] for line in f.readlines()], columns=["sentence"]
    )
    display(slk_df.head())

with open("../data/tur_news_2024_1M/tur_news_2024_1M-sentences.txt", "r", encoding="utf-8") as f:
    # read lines and split at tab, keep only second column
    tur_df = pd.DataFrame(
        [line.strip().split("\t")[1] for line in f.readlines()], columns=["sentence"]
    )
    display(tur_df.head())

with open("../data/eng-simple_wikipedia_2021_300K/eng-simple_wikipedia_2021_300K-sentences.txt", "r", encoding="utf-8") as f:
    # read lines and split at tab, keep only second column
    eng_df = pd.DataFrame(
        [line.strip().split("\t")[1] for line in f.readlines()], columns=["sentence"]
    )
    display(eng_df.head())

                                            sentence
0  “ (1 439-krát)-všetky z týchto skladieb boli v...
1  … (14) ráľ Dárajavauš hovorí: Kráľovstvo, ktor...
2  ; 18. máj 1803, kedy Británia a Francúzsko uko...
3  “ (1968-9), v takzvanom „divadle obrazov“ pres...
4  “ (19. miesto v UK) či „Let Me Fly“ (59. miest...

                                            sentence
0               %0.1 çok düşük çok düşük bir büyüme.
1  "01 Kasım 2024 tarihinden itibaren geçerli olm...
2  "02.04.2024 günü saat 12.47’de Beşiktaş ilçesi...
3  "02 Adana Yasin-Poyraz" firmasının et dönerind...
4  ‘ 0-4 yaş arası çocuklu annelere, ‘Anne Kart’ ...

                                            sentence
0  "001 Taking Matters Into Their Own Hands: Men ...
1                   $100 coin, struck only in proof.
2  ; 10 August 1927 – 9 November 2020) was a Span...
3                "10 meters per second" is a vector.
4  "11:11" and his music video were released on N...

In [3]:
# get example sized corpus
slk_df = slk_df.sample(n=10000, random_state=42).reset_index(drop=True)
display(slk_df.head())
print(f"Slovak corpus size: {len(slk_df)} sentences")

                                            sentence
0  Ako veľmajster rádu sa venoval dobročinnej prá...
1  Horná nádrž s vypuknutým pologuľovitým dnom ob...
2  Narodil sa v rodine s bohatou vojenskou tradíc...
3  Zvláštnym prípadom je WASG, ktorá nie je v kra...
4  Predsedom klubu bol jeho zakladateľ J. Falckrá...

Slovak corpus size: 10000 sentences

In [4]:
# Load Slovak model
nlp = spacy.load("sk_dep_web_md")

# Use nlp.pipe for fast batch processing
texts = slk_df["sentence"].astype(str).tolist()

tokens = []
for doc in nlp.pipe(texts, batch_size=50):
    tokens.append([token.lemma_ for token in doc])


slk_df["tokens"] = tokens
display(slk_df.head())

/home/joni/Documents/language-as-data/.310venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/home/joni/Documents/language-as-data/.310venv/lib/python3.10/site-packages/thinc/shims/pytorch.py:114: FutureWarning: `torch.cuda.amp.autocast(args...)` is deprecated. Please use `torch.amp.autocast('cuda', args...)` instead.
  with torch.cuda.amp.autocast(self._mixed_precision):

,sentence,tokens
0,Ako veľmajster rádu sa venoval dobročinnej prá...,"[ako, veľmajster, rád, sa, venovať, dobročinný..."
1,Horná nádrž s vypuknutým pologuľovitým dnom ob...,"[Horná, nádrž, s, vypuknutý, pologuľovitý, dno..."
2,Narodil sa v rodine s bohatou vojenskou tradíc...,"[narodiť, sa, v, rodina, s, bohatý, vojenský, ..."
3,"Zvláštnym prípadom je WASG, ktorá nie je v kra...","[Zvláštnym, prípad, byť, WASG, ,, ktorý, nie, ..."
4,Predsedom klubu bol jeho zakladateľ J. Falckrá...,"[Predsedom, klub, byť, jeho, zakladateľ, J., f..."

In [3]:
# preprocess Slovak data
'''
- convert to lowercase
- remove punctuation
- remove numbers
- remove extra whitespace
'''
slk_df['sentence'] = slk_df['sentence'].str.lower()
slk_df['sentence'] = slk_df['sentence'].str.replace(r'[^\w\s]', '', regex=True)
slk_df['sentence'] = slk_df['sentence'].str.replace(r'\d+', '', regex=True)
slk_df['sentence'] = slk_df['sentence'].str.replace(r'\s+', ' ', regex=True).str.strip()
display(slk_df.head())
slk_df.to_csv("../data/preprocessed/PROCESSED_slk_wikipedia_2021_300K-sentences.txt", index=False, header=False, sep='\t', encoding='utf-8')

                                            sentence
0  krátvšetky z týchto skladieb boli vydané pred ...
1  ráľ dárajavauš hovorí kráľovstvo ktoré našemu ...
2  máj kedy británia a francúzsko ukončili jedno ...
3  v takzvanom divadle obrazov presadzoval spojen...
4              miesto v uk či let me fly miesto v uk

In [11]:
# preprocess Turkish data
'''
- remove punctuation
- remove numbers
- remove extra whitespace
'''
tur_df['sentence'] = tur_df['sentence'].str.replace(r'[^\w\s]', '', regex=True)
tur_df['sentence'] = tur_df['sentence'].str.replace(r'\d+', '', regex=True)
tur_df['sentence'] = tur_df['sentence'].str.replace(r'\s+', ' ', regex=True).str.strip()
display(tur_df.head())
tur_df.to_csv("../data/preprocessed/PROCESSED_tur_news_2024_1M-sentences.txt", index=False, header=False, sep='\t', encoding='utf-8')

                                            sentence
0                     çok düşük çok düşük bir büyüme
1  Kasım tarihinden itibaren geçerli olmak üzere ...
2  günü saat de Beşiktaş ilçesi Gayrettepe Mahall...
3  Adana YasinPoyraz firmasının et dönerinde deri...
4  yaş arası çocuklu annelere Anne Kart uygulamas...

In [4]:
# Preprocess English data
'''
- convert to lowercase
- remove punctuation
- remove numbers
- remove extra whitespace
'''
eng_df['sentence'] = eng_df['sentence'].str.lower()
eng_df['sentence'] = eng_df['sentence'].str.replace(r'[^\w\s]', '', regex=True)
eng_df['sentence'] = eng_df['sentence'].str.replace(r'\d+', '', regex=True)
eng_df['sentence'] = eng_df['sentence'].str.replace(r'\s+', ' ', regex=True).str.strip()
display(eng_df.head())
eng_df.to_csv("../data/preprocessed/PROCESSED_eng-simple_wikipedia_2021_300K-sentences.txt", index=False, header=False, sep='\t', encoding='utf-8')

                                            sentence
0  taking matters into their own hands men seekin...
1                          coin struck only in proof
2               august november was a spanish artist
3                      meters per second is a vector
4   and his music video were released on november st